.Details-title {
  font-size: 21px;
  padding-top: 30px;
}

.Details-container {
  margin-top: 30px;

  .Details-section {
    padding-top: 30px;
  }
}

.Details-block--right {
  padding-left: 20px;
}
