.ModalPersonalData-title {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textField {
  padding: 0 15px;
  width: 100%;
  height: 30px;
  position: relative;
  outline: none;
  font: 14px 'PT Sans', Arial, sans-serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  box-sizing: border-box;
  border-radius: 0px;
}

.ModalPersonalData-paragraph {
  margin-top: 10px;
  margin-bottom: 3px;
}
