.Prices {
  &-container {
    padding-top: 30px;
  }

  &-title {
    font-size: 21px;
    padding-top: 30px;
  }

  &-subtitle {
    font-size: 18px;
  }

  .ant-card-body {
    padding: 15px;
  }
}

.Prices-table-cost {
  text-decoration: line-through;
}

.Prices-send-button {
  height: 32px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: bold;
}

.Prices-show-more-button {
  height: 43px;
  font-size: 15px;
  font-weight: bold;
}

.Prices-table-color {
  border-bottom: 1px solid #dedede;
  background-color: #f7f7f7;
}

.Prices-md-photo-camera {
  height: 30px;
  width: 30px;
  margin-left: 70px;
}

.Prices-ti-star {
  width: 20px;
  height: 20px;
  color: goldenrod;
}

.Prices-ta {
  text-align: center;
}

.Prices-show-all-offers-button {
  border-bottom: 1px dashed red;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &:hover,
  &:focus {
    border-bottom: 1px dashed red;
  }
}

@keyframes slide {
  from {
    transform: translateX(-40px);
  }
  to {
    transform: translateX(0px);
  }
}

.Prices-table--article {
  &.animation-slide-right {
    animation-name: slide;
    animation-duration: 0.5s;
  }

  .Table-body--row {
    .Table-body--cell:nth-child(1) {
      flex: 2;
    }
  }
}

.Prices-table-color-three {
  border-bottom: 1px solid #dedede;
  background: #ffee001f;
}
