.WatchingTheOrder-paragraph-color {
  color: red;
  font-weight: bold;
  margin-bottom: 0;
}

.WatchingTheOrder-border {
  border: black solid 1px;
  width: 100%;
  display: flex;
}

.WatchingTheOrder-block {
  margin: 0 auto;
}
