.AutoServiceTable-order {
  a {
    color: white;
  }
}

.AutoServiceTable {
  th.ant-table-cell {
    background-color: orange !important;
    padding: 10px;

    h3 {
      color: white;
    }
  }
}
