.Product-preview {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.3s;

  &:hover {
    transform: scale(1.3);
  }
}

.Product-column--left {
  flex: 1;
}

.Product-column--right {
  width: 30%;
  padding-top: 30px;
  padding-left: 50px;
}

.Product-card {
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.5);
  }

  &--image {
    width: 270px;
    margin-right: 20px;
  }

  &--title {
    font-size: 22px;
    font-weight: bold;
    color: #de2a1b;
  }

  &--subtitle {
    font-size: 18px;
    margin-bottom: 5px;
  }

  &--description {
    font-size: 13px;
    color: #797979;
  }
}

.title-table {
  font-size: 18px;
}

.Product-solid {
  border: black solid 4px;
  width: 330px;
}

.Product-filter {
  cursor: pointer;
  color: black;
  width: 210px;
  font-weight: bold;
  font-size: 15px;

  &:hover {
    color: red;
  }
}

.Product-filter-tabpane {
  color: black;
}

.Product-paragraph {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}

.Product-border-block {
  border-radius: 2px;
  width: 18px;
  height: 18px;
  background: #f4f4f4;
}

.Product-border-contener {
  display: flex;
}

.Product-amount {
  margin-left: 40px;
}

.Product-block-contener {
  display: flex;
}
