.TechnicalMaintenance-image {
  width: 100%;
  display: block;
  min-height: 400px;
}

.ant-menu-submenu-title {
  &:hover {
    color: #de2a1b;

    .ant-menu-submenu-arrow {
      color: #de2a1b !important;
    }
  }
}

.TechnicalMaintenance-preview--subtitle {
  font-weight: bold;
  color: #797979;
}

.TechnicalMaintenance-title--h2 {
  font-size: 22px;
  font-family: 'Roboto Bold';
  margin-top: 10px;
}

.TechnicalMaintenance-title--h3 {
  font-size: 22px;
  font-family: 'Roboto Bold';
  margin-top: 10px;

  &.danger {
    color: #de2a1b;
  }
}

.TechnicalMaintenance-content--image {
  max-width: 300px;
  border-radius: 6px;
}

.TechnicalMaintenance {
  .cars-list {
    display: flex;

    .CarCard:not(:nth-child(4n)) {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 1375px) {
  .cars-list {
    justify-content: space-between;

    .CarCard {
      min-width: 30%;
      margin-right: 0 !important;
    }
  }
}
