.Table {
  overflow-x: auto;

  .Table-header {
    display: grid;
    flex-wrap: wrap;
    align-items: center;

    &--title {
      padding: 15px;
      background-color: #e3e3e3;
      flex: 1;
      align-items: center;
      min-height: 50%;
      height: 100%;
    }
  }

  .Table-body {
    &--cell {
      padding: 15px;
      flex: 1;
      height: 100%;
      align-items: center;
      display: flex;

      &:hover {
        background-color: #f2f2f2;
      }
    }

    &--row {
      display: grid;
      // flex-wrap: wrap;
      transition: 0.2s;
      align-items: center;
    }
  }
}
