.Table {
  .Table-header {
    background-color: #d3d3d3;
    display: flex;
    flex-wrap: wrap;

    &--title {
      padding: 15px;
      flex: 1;
    }
  }

  .Table-body {
    &--cell {
      padding: 15px;
      flex: 1;
    }

    &--row {
      display: flex;
      flex-wrap: wrap;
      transition: 0.2s;
      align-items: center;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
