.RegionSelectionModal {
  border-radius: 1px;
  min-width: 60%;
  padding: 20px;

  .font-weight {
    span {
      font-weight: bold;
    }
  }
}

.RegionSelectionModal-item {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.RegionSelectionModal-Сontainer {
  display: flex;

  button {
    padding: 0;
    margin-right: 10px;

    &:hover {
      color: #de2a1b !important;
    }
  }
}

.RegionSelectionModal-Block {
  max-height: 200px;

  button {
    display: block;
    padding: 0;

    &:hover {
      color: #de2a1b !important;
    }
  }
}

.d-block {
  display: block;
}
